BR2_riscv=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_4=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_SYSTEM_DHCP="eth0"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/qemu/post-image.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="qemu_riscv64_virt_defconfig"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.4.42"
BR2_LINUX_KERNEL_USE_ARCH_DEFAULT_CONFIG=y
BR2_PACKAGE_PYTHON3_BZIP2=y
BR2_PACKAGE_BOOST_CONTAINER=y
BR2_PACKAGE_BOOST_CONTRACT=y
BR2_PACKAGE_BOOST_EXCEPTION=y
BR2_PACKAGE_BOOST_GRAPH=y
BR2_PACKAGE_BOOST_GRAPH_PARALLEL=y
BR2_PACKAGE_BOOST_IOSTREAMS=y
BR2_PACKAGE_BOOST_LOCALE=y
BR2_PACKAGE_BOOST_LOG=y
BR2_PACKAGE_BOOST_MATH=y
BR2_PACKAGE_BOOST_MPI=y
BR2_PACKAGE_BOOST_RANDOM=y
BR2_PACKAGE_BOOST_SERIALIZATION=y
BR2_PACKAGE_BOOST_STACKTRACE=y
BR2_PACKAGE_BOOST_TEST=y
BR2_PACKAGE_BOOST_TYPE_ERASURE=y
BR2_PACKAGE_BOOST_WAVE=y
BR2_PACKAGE_GEOGRAPHICLIB_GRAVITY=y
BR2_PACKAGE_GEOGRAPHICLIB_MAGNETIC=y
BR2_PACKAGE_ROS_SUPPORT=y
BR2_PACKAGE_BOND_CORE=y
BR2_PACKAGE_TEST_BOND=y
BR2_PACKAGE_COMMON_MSGS=y
BR2_PACKAGE_DIAGNOSTICS=y
BR2_PACKAGE_ROSDIAGNOSTIC=y
BR2_PACKAGE_GEOMETRY=y
BR2_PACKAGE_GEOMETRY2=y
BR2_PACKAGE_IMAGE_COMMON_SET=y
BR2_PACKAGE_IMAGE_COMMON=y
BR2_PACKAGE_MAVROS_SET=y
BR2_PACKAGE_MAVROS=y
BR2_PACKAGE_MAVROS_EXTRAS=y
BR2_PACKAGE_NODELET_CORE_SET=y
BR2_PACKAGE_NODELET_CORE=y
BR2_PACKAGE_ROS_COMM=y
BR2_PACKAGE_ROS_ENVIRONMENT_INSTALL_PROFILE=y
BR2_PACKAGE_ROS_TUTORIALS_SET=y
BR2_PACKAGE_ROSCPP_TUTORIALS=y
BR2_PACKAGE_ROSPY_TUTORIALS=y
BR2_PACKAGE_ROSCPP_CORE=y
BR2_PACKAGE_UNIQUE_IDENTIFIER=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_SIZE="200M"
# BR2_TARGET_ROOTFS_TAR is not set
BR2_TARGET_OPENSBI=y
BR2_TARGET_OPENSBI_PLAT="generic"
BR2_PACKAGE_HOST_PYTHON=y
